@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
  
}
.outerbox{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,#3ed8ff,#a8f5ff);
}
.innerbox{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top:40%;
    transform: translateY(-50%); 
    background: linear-gradient(to top right,#ffffffff,#ffffff33);
    backdrop-filter: blur(8px);
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;
    z-index: 2;
}
.signup_header h1{
    font-size: 2.5rem;
    color: #212121;
}
.signup_header p{
    font-size: 0.8rem;
    color: #555;
}
.signup_body{
    margin: 20px 0;
}
.signup_body p{
    margin: 10px 0;
}
.signup_body p label{
    display: block;
    font-weight: bold;
}
.signup_body p input{
 width: 100%;
 padding: 10px;
 font-size: 1rem;
 border: 2px solid #ccc;
 border-radius: 5px;
 margin-top: 4px;
}
.signup_body p input[type="submit"]{
    border: none;
    color: white;
    background-color: #3498db;
    cursor: pointer;
}
.signup_body p input[type="submit"]:hover{
    background-color: rgb(20, 194, 194);
}
.signup_footer p{
    text-align: center;
    color: #555;

}
.signup_footer p a{
    color: #3498db;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right,#ffffff33,#ffffffff);
    position: absolute;
}
.c1{
    top:100px;
    left: 40px;

}
.c2{
    bottom:200px;
    right: 50px;
}
@media only screen and (max-width: 450px) {
   .outerbox{
    width: 100vw;
    height: 100vh;
   }
   .innerbox{
    width: 90vw;
    height: 70vh;
    overflow: scroll;
   }
  }
 
  